/*#region FORM */
.createForm {
  width: 72%;
  height: fit-content;
  margin-bottom: 3rem;
}

.formTitle {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-block: 1.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2.1rem;
}

.formLabelBoxLogin {
  display: flex;
  flex-direction: column;
  margin-inline: 18rem;
}

.formLabelBox {
  display: flex;
  flex-direction: column;
  margin-inline: 1.2rem;
}

.formLabel {
  margin-bottom: 3px;
}

.fromInput {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 6px;
  padding-inline: 6px;
  padding-block: 3px;
  outline: none;
  font-size: 15px;
}

.fromInput:focus {
  outline: auto;
  outline-color: rgb(200, 200, 200);
}

.formTextArea {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 6px;
  padding-inline: 6px;
  padding-block: 3px;
  outline: none;
  resize: none;
  font-size: 15px;
}

.formTextArea:focus {
  outline: auto;
  outline-color: rgb(200, 200, 200);
}

.formButton {
  transition: 90ms ease-in-out;
  width: 30%;
  border: 1px solid black;
  border-radius: 6px;
  align-self: center;
  padding-block: 0.45rem;
  background-color: white;
  cursor: pointer;
}

.formButton:hover {
  transition: 90ms ease-in-out;
  transform: translate(-1px);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.21);
}
/*#endregion */

/*#region FOOTER */
.footer {
  width: 100%;
  height: 5.1rem;
  border-top: 1px solid gainsboro;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerTitle {
  font-weight: 800;
  font-size: 21px;
}

.footerSocial {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerLink {
  text-decoration: none;
  color: black;
}

.footerLink:hover {
  text-decoration: underline;
}
/*#endregion */

/*#region QUESTIONBOX */
.questionBox {
  width: 100%;
  padding-inline: 8.1rem;
  padding-block: 2.7rem;
}

.question {
  margin-bottom: 0.9rem;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.answer {
  font-size: 18px;
  color: black;
}
/*#endregion*/

/*#region NAVBAR */
.navbar {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: black;
}

.logo {
  color: black;
}

.nextLinkContainer {
  width: 39%;
  display: flex;
  justify-content: space-evenly;
}

.nextLink {
  transition: 0.2s ease;
  transform: translate3d(-29px);
  color: rgb(9, 9, 9);
  text-decoration: none;
  font-weight: 600;
  border-radius: 3px;
  padding-inline: 12px;
  padding-block: 6px;
}

.nextLink:hover {
  transition: 0.2s ease;
  background-color: rgb(221, 221, 221);
}

.menuContainer {
  display: none;
}
/*#endregion */

@media (min-width: 640px) and (max-width: 1024px) and (orientation: landscape) {
  /* TELEFONOS EN HORIZONTAL */
  /*#region FORM */
  .createForm {
    width: 99%;
    height: fit-content;
    margin-bottom: 1.8rem;
  }

  .formTitle {
    padding-block: 1.8rem;
  }

  .form {
    gap: 1.5rem;
    margin-top: 1.8rem;
  }

  .formLabelBoxLogin {
    display: flex;
    flex-direction: column;
    margin-inline: 15rem;
  }

  .formLabelBox {
    margin-inline: 1.2rem;
  }
  /*#endregion */

  /*#region QUESTIONBOX */
  .questionBox {
    padding-inline: 2.7rem;
    padding-block: 1.8rem;
  }

  .question {
    font-size: 21px;
  }

  .answer {
    font-size: 15px;
  }
  /*#endregion*/

  /*#region NAVBAR */
  .navbar {
    height: 18vh;
  }
  /*#endregion */
}

@media (min-width: 320px) and (max-width: 768px) {
  /* TELEFONOS EN VERTICAL */
  /*#region FORM */
  .createForm {
    width: 96%;
  }

  .formLabelBoxLogin {
    display: flex;
    flex-direction: column;
    margin-inline: 3rem;
  }

  .formTitle {
    font-size: 27px;
  }
  /*#endregion */

  /*#region FOOTER */
  .footer {
    width: 100%;
    height: 5.1rem;
  }

  .footerTitle {
    font-size: 18px;
  }

  .footerSocial {
    width: 33%;
    flex-direction: column;
  }
  /*#endregion */

  /*#region QUESTIONBOX */
  .questionBox {
    padding-inline: 1.5rem;
    padding-block: 1.8rem;
  }

  .question {
    font-size: 21px;
  }

  .answer {
    font-size: 15px;
  }
  /*#endregion*/

  /*#region NAVBAR */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logoContainer {
    width: 33%;
  }

  .logo {
    color: black;
  }

  .nextLinkContainer {
    display: none;
  }

  .menuContainer {
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    cursor: pointer;
  }
  /*#endregion */
}
