.page {
  padding-inline: 7%;
}

.title {
  height: 25vh;
  padding-top: 12vh;
  color: var(--foreground);
  font-size: 2.1em;
  display: flex;
  align-items: flex-end;
}

.description {
  height: 25vh;
  font-size: 1.2em;
  text-align: justify;
  color: var(--foreground);
  display: flex;
  align-items: center;
}

.langs {
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 640px) and (max-width: 1024px) and (orientation: landscape) {
  .page {
    padding-inline: 3%;
  }
  
  .title {
    height: 48vh;
    padding-top: 18vh;
  }

  .langs img {
    width: 60px;
    height: 60px;
  }
  
  .description {
    height: 45vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page {
    padding-inline: 6%;
  }
  
  .langs {
    height: 40vh;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .page {
    padding-inline: 4.5%;
  }

  .title {
    height: 33vh;
  }

  .description {
    height: 39vh;
  }

  .langs {
    height: 24vh;
  }

  .langs img {
    width: 72px;
    height: 72px;
  }

  .container {
    margin-top: 3vh;
    padding-block: 1.5vh;
  }
}
